<div class="DigitalVideo_global_container">
    <div class="col-md-offset-1 col-md-9 inner_container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="col-md-offset-5">路口監視管制系統</h3>
            </div>
            <div class="panel-body">
                <div>
                    <h4 class="col-md-offset-3 col-md-4">各分局數位錄影電腦建置數量表</h4>
                    <button type="button" class="btn btn-primary col-md-offset-2 col-md-2">返回主畫面</button>
                </div>
            </div>
            <!-- Table -->
            <table class="table table-bordered ">
                <tr>
                    <td>分局別</td>
                    <td>建置數量</td>
                    <td>狀況顯示</td>
                    <td>分局別</td>
                    <td>建置數量</td>
                    <td>狀況顯示</td>
                </tr>
                <tr>
                    <td>第一分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                    <td>豐原分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                </tr>
                <tr>
                    <td>第二分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                    <td>霧峰分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                </tr>
                <tr>
                    <td>第三分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                    <td>太平分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                </tr>
                <tr>
                    <td>第四分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                    <td>清水分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                </tr>
                <tr>
                    <td>第五分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                    <td>烏日分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                </tr>
                <tr>
                    <td>第六分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                    <td>和平分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                </tr>
                <tr>
                    <td>東勢分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                    <td>大甲分局</td>
                    <td>ＸＸＸ組</td>
                    <td>稼動中數量 XXX台</td>
                </tr>
            </table>
            <div class="panel-body">
                <div>
                    <h4 class="col-md-offset-3 col-md-5">說明：點選各分局 可顯示設置地點清單</h4>
                </div>
            </div>
        </div>
    </div>
</div>