<div class="col-md-12 global_container">
    <div class="col-md-offset-2 col-md-8 inner_container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="col-md-offset-5">路口監視管制系統</h3>
            </div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <td>數位錄影總數</td>
                    <td>XXXX組</td>
                    <td>稼動中組數</td>
                    <td>XXXX組</td>
                    <td>待檢查數量</td>
                    <td>XXXX組</td>
                    <td>稼動率</td>
                    <td>XXXX％</td>
                </tr>
                <tr>
                    <td>攝影機總數</td>
                    <td>XXXXX台</td>
                    <td>稼動中數量</td>
                    <td>XXXXX台</td>
                    <td>待檢查數量</td>
                    <td>XXXXX台</td>
                    <td>稼動率</td>
                    <td>XXXX％</td>
                </tr>
                <tr>
                    <td>車行紀錄台數</td>
                    <td>XXXXX台</td>
                    <td>稼動中數量</td>
                    <td>XXXXX台</td>
                    <td>可用車行紀錄</td>
                    <td>XXXX次</td>
                    <td>錄影檔案異常</td>
                    <td>XXXXX台</td>
                </tr>
            </table>
            <div class="panel-body">
                <p>各建制期別故障比率分析 - 顯示最高的前三期的比例: (程式演算)</p>
                <hr>
                <p>
                    <h4 style="text-align:center;">中央監控管制分析表</h4>
                </p>
            </div>
            <table class="table table-bordered">
                <tr>
                    <td>網路異常</td>
                    <td>(程式演算)組</td>
                    <td>詳細資料</td>
                    <td>說明：</td>
                    <td>無法偵測到網路時,顯示組數</td>
                </tr>
                <tr>
                    <td>錄影異常</td>
                    <td>(程式演算)台</td>
                    <td>詳細資料</td>
                    <td>說明：</td>
                    <td>數位錄影無啟動時的異常,此項目與網路異常可能相同</td>
                </tr>
                <tr>
                    <td>錄影檔案異常</td>
                    <td>(程式演算)台</td>
                    <td>詳細資料</td>
                    <td>說明：</td>
                    <td>顯示個別攝影機的錄影檔案有異常</td>
                </tr>
                <tr>
                    <td>車行紀錄異常</td>
                    <td>(程式演算)組</td>
                    <td>詳細資料</td>
                    <td>說明：</td>
                    <td>顯示車型紀錄的傳輸有異常</td>
                </tr>
                <tr>
                    <td>反破壞紀錄</td>
                    <td>(程式演算)組</td>
                    <td>詳細資料</td>
                    <td>說明：</td>
                    <td>記錄反破壞故障的接收訊號,此為管理分析用,非即時通報</td>
                </tr>
                <tr>
                    <td>紅外線故障紀錄</td>
                    <td>(程式演算)組</td>
                    <td>詳細資料</td>
                    <td>說明：</td>
                    <td>記錄紅外線故障的接收訊號,此為管理分析用,非即時通報</td>
                </tr>
            </table>
            <div class="panel-body">
                <div class="col-md-4">各建制期別異常紀錄比例分析,請連結這裡</div>
                <div class="col-md-4">各分局建置期別清單,請連結這裡</div>
            </div>
        </div>
    </div>
</div>