<div class="MonitorDetail_global_container">
    <div class="col-md-offset-1 col-md-9 inner_container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="col-md-offset-5">路口監視管制系統</h3>
            </div>
            <div class="panel-body">
                <div>
                    <table>
                        <tr>
                            <td class=" col-md-3 " style="padding:0px;">
                                <h5>管制項目：網路異常</h5>
                            </td>
                            <td class="col-md-2" style="padding:0px;">
                                <h5 style="text-align:left;">按此匯出</h5>
                            </td>
                            <td class="col-md-5" style="padding:0px;">
                                <h5>
                                    說明：網路無法連現實顯示,數位錄影當機亦會顯示於此
                                </h5>
                            </td>
                            <td class="col-md-2">
                                <h5>
                                    返回主畫面
                                </h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Table -->
            <table class="table table-bordered ">
                <tr>
                    <td>發生日期時間</td>
                    <td>分局</td>
                    <td>派出所</td>
                    <td>建置編號</td>
                    <td>主機位置</td>
                    <td>連結位址/按這裡匯出</td>
                </tr>
                <tr>
                    <td>2013-02-17_18:59:59</td>
                    <td>第一分局</td>
                    <td>環中派出所</td>
                    <td>10-111</td>
                    <td>文心路一段與中港路交界</td>
                    <td>192.168.168.168</td>
                </tr>
            </table>
        </div>
    </div>
</div>